На сайте запущен А/В тест с целью увеличить доход.  
В приложенном excel файле вы найдете сырые данные по результатам эксперимента – user_id, тип выборки variant_name и доход принесенный пользователем revenue.  
Проанализируйте результаты эксперимента и напишите свои рекомендации менеджеру.

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [54]:
df = pd.read_excel('../data/AB_Test_Results(2).xlsx')

/home/anatoliy/.local/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   USER_ID       10000 non-null  int64
 1   VARIANT_NAME  10000 non-null  object
 2   REVENUE       10000 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 234.5+ KB

In [56]:
df.describe()

            USER_ID       REVENUE
count  10000.000000  10000.000000
mean    4981.080200      0.099447
std     2890.590115      2.318529
min        2.000000      0.000000
25%     2468.750000      0.000000
50%     4962.000000      0.000000
75%     7511.500000      0.000000
max    10000.000000    196.010000

In [57]:
df.head()

   USER_ID VARIANT_NAME  REVENUE
0      737      variant      0.0
1     2423      control      0.0
2     9411      control      0.0
3     7311      control      0.0
4     6174      variant      0.0

In [67]:
# проверяем количество уникальных групп
df['VARIANT_NAME'].unique()

array(['variant', 'control'], dtype=object)

In [58]:
# проверяем количество уникальных ID, чтобы понять есть ли разные записи с одинаковыми ID
len(df['USER_ID'].unique())

6324

In [59]:
(len(df) - len(df['USER_ID'].unique())) * 100 / len(df)

36.76

Почти 37% данных являются дубликатами.  
Проверим данные на дубликаты по группам.

In [60]:
a = len(df.loc[df['VARIANT_NAME'] == 'control', 'USER_ID'])
b = len(df.loc[df['VARIANT_NAME'] == 'control', 'USER_ID'].unique())
(a - b) * 100 / a

21.12760834670947

In [61]:
a = len(df.loc[df['VARIANT_NAME'] == 'variant', 'USER_ID'])
b = len(df.loc[df['VARIANT_NAME'] == 'variant', 'USER_ID'].unique())
(a - b) * 100 / a

21.57097288676236

Дубликаты распрелелены одинаково в обеих группах, что указывает на не коректную работу алгоритма сплитования.  
Попробуем выделить и проанализировать дублированные данные.

In [62]:
# выделяем повторяющиеся id
repeated_id = []
for key, value in dict(df['USER_ID'].value_counts()).items():
    if value > 1:
        repeated_id.append(key)
len(repeated_id)

2660

In [63]:
# создаём датафрейм с повторяющимися id
repeated_id_df = df.loc[df['USER_ID'].isin(repeated_id)]
repeated_id_df

      USER_ID VARIANT_NAME  REVENUE
0         737      variant      0.0
1        2423      control      0.0
2        9411      control      0.0
3        7311      control      0.0
6        2849      control      0.0
...       ...          ...      ...
9992     9303      variant      0.0
9993     2400      variant      0.0
9994     3129      control      0.0
9995     1981      control      0.0
9997     9214      variant      0.0

[6336 rows x 3 columns]

In [ ]:
# сортируем по полученый датаафрейм по id
repeated_id_df.sort_values(by=['USER_ID']).head(40)

      USER_ID VARIANT_NAME  REVENUE
2406        2      control      0.0
3479        2      control      0.0
7076        2      control      0.0
7409        3      variant      0.0
4145        3      variant      0.0
5377        3      control      0.0
4612       10      variant      0.0
5545       10      control      0.0
3889       11      control      0.0
8223       11      control      0.0
1156       13      control      0.0
6168       13      control      0.0
458        15      variant      0.0
5762       15      variant      0.0
5653       18      variant      0.0
8448       18      control      0.0
2103       25      variant      0.0
3488       25      control      0.0
4105       26      variant      0.0
7423       26      variant      0.0
8059       34      control      0.0
8379       34      control      0.0
4742       34      control      0.0
6445       40      control      0.0
9827       40      variant      0.0
2194       45      variant      0.0
4768       45      variant      0.0
6526       49      control      0.0
1480       49      control      0.0
7373       57      control      0.0
7075       57      control      0.0
7230       57      variant      0.0
3397       57      control      0.0
6124       58      control      0.0
8612       58      control      0.0
9889       60      variant      0.0
6584       60      control      0.0
7976       60      control      0.0
4371       62      control      0.0
6987       62      control      0.0

In [76]:
# находим пользователей принесших доход
repeated_id_df.loc[repeated_id_df['USER_ID'].isin(repeated_id_df.loc[df['REVENUE'] > 0, 'USER_ID'])].sort_values(by='USER_ID').head(50)

      USER_ID VARIANT_NAME  REVENUE
8027      124      control     0.00
6378      124      control     1.25
8676      124      control     0.00
4454      169      control     4.33
6280      169      control     0.00
5024      282      control     0.00
5530      282      control    18.56
8374      403      variant     1.99
8163      403      control     0.00
7174      403      control     0.00
204       443      variant     0.00
9168      443      variant     3.75
5769      443      variant     0.00
2991      487      control     0.00
6081      487      control     4.33
3933      618      control     2.19
2766      618      variant     0.00
6990      618      variant     0.00
3218      701      control    17.08
376       701      control     0.00
7386      701      variant     0.00
5799      702      control     0.00
9725      702      variant     2.92
9347      702      control     0.00
3869      708      variant     0.00
9758      708      variant     0.00
5797      708      variant     3.00
4184      828      variant     0.60
3598      828      control     0.00
1015      831      control     0.00
5301      831      variant     0.00
9125      831      control    25.98
9691      839      control     0.00
1970      839      variant     0.00
3162      839      variant     1.25
2698      868      control     4.27
4583      868      control     0.00
937      1035      control     0.00
9612     1035      control     0.23
2617     1053      control     0.00
2853     1053      control     0.00
6412     1053      control    20.07
7514     1053      control     0.00
2730     1106      control     1.25
3487     1106      variant     0.00
4123     1252      variant     1.25
1081     1252      control     0.00
8108     1252      control     1.26
7383     1252      control     0.00
2849     1254      variant     1.01

Полученые результаты говорят о том что ошибки в работе алгоритма сплитованя привели к тому что данные собраны не коректно и дальнейшая их обработка не целесообразна так как не позволит сделать объективные выводы. Требуется исправить ошибки в алгоритме спллитования и запустить тест сново. При зтом, для чистоты эксперимента, исключить поподание уже протестированых пользователей в повторный тест.